@font-face {
  font-family: 'Lobster';
  src: url(Lobster-Regular.ttf);
}

body {
  background: linear-gradient(
    180deg,
    rgba(97, 93, 173, 1) 0%,
    rgba(255, 200, 218, 1) 100%
  );
  padding: 113px 188px 377px 188px;
  background-repeat: no-repeat;
}

.container {
  background-color: #283e50;
  width: 396px;
  border-radius: 4% 4% 0 0;
}

img {
  display: flex;
  border-radius: 4% 4% 0 0;
  width: 396px;
  height: 250px;
}

.all {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
}

.all__text {
  background-color: #283e50;
}

.all__head,
.nadpisPravidla {
  font-family: 'Lobster';
  font-size: 21px;
}

.all__description {
  padding: 0px 20px 20px 20px;
  font-family: sans-serif;
  font-size: 16px;
}

ol li {
  text-align: left;
  font-family: sans-serif;
  padding: 0px 20px 20px;
}

.filter {
  filter: invert(100%);
  width: 1em;
  height: 1em;
  display: inline-block;
}
.all__button {
  display: flex;
  flex-direction: column;
  width: 396px;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.all__button--rules,
.all__button--uvod {
  background-color: #1fcca4;
}

.all__button--rules,
.all__button--uvod:hover {
  background-color: #1cbb96;
}

.all__button--startplay {
  background-color: #0197f6;
}

.all__button--startplay:hover {
  background-color: #0090e9;
}
